/* MOBILE */
@media screen and (max-width: 481px){
	

h1{
	font-size: 45px;
}

.word{
	margin-top: -90px;
	position: fixed;
	left: 410px;
	
}
#word, #he, #quoteDisplay, #screw{
	font-weight: bold;
}

#word{

	font-size: 5px;
	color: #9E1D66;

}
#he{
	font-size: 35px;

}
#quoteDisplay{
	margin-top: 30px;
	font-size: 15px;


}
#screw{
	font-size: 20px;

}


}