/* MOBILE */
@media screen and (max-width: 481px){
	

h1{
	font-size: 45px;
}

#word{

	font-size: 5px;
	font-weight: bold;
	color: #9E1D66;

}
#quoteDisplay{
	font-size: 5px;
	

}
#screw{
	font-size: 5px;
}


}